.header {
  background-size: cover;
  background-image: url('https://nokta.md/wp-content/uploads/2018/05/49-1_61.jpg');
  padding-bottom: 400px;
  text-align: center;
}
.header .header__subtitle, .header .header__main_title {
  color: white;
  font-weight: 700;
  margin: 0;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: 3px 5px 15px rgb(73,171,192);
}
.header__main_title {
  padding: 0;
  font-size: 50px;
}
.header__subtitle {
  font-size: 31px;
  padding: 19px 0 0 0;
}

