.card {
  width: 300px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin: 0 5px 20px 5px;
  background-image: linear-gradient(to bottom, #09025d, #4e3d86, #867aaf, #c0bbd7, #ffffff);
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(35,194,233,0.5);
}
.box {
  padding: 2px 16px;
}
.info-movie{
  display: block;
}
img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 100%;
  display: block;
}
.img-box{
  width: 100%;
  height: 300px;
}
