<div class="card">
  <div class="img-box">
    <img [src]="img" alt="Avatar" style="width:100%">
  </div>
  <div class="box">
    <h4><b>{{title}}</b></h4>
    <span class="info-movie">Realise date: {{realiseDate}}</span>
    <span class="info-movie">Rating: {{rating}}</span>
  </div>
</div>
