<div class="main-block">
  <app-card title="Gladiator" img="https://www.film.ru/sites/default/files/movies/posters/Gladiator-15.jpg" realiseDate="2000" rating="8.4"></app-card>
  <app-card title="The Godfather" img="https://media.timeout.com/images/105455970/750/562/image.jpg" realiseDate="1972" rating="8.8"></app-card>
  <app-card title="The Dark Knight" img="https://media.timeout.com/images/132671/750/422/image.jpg" realiseDate="2008" rating="9.5"></app-card>
  <app-card title="Mad Max: Fury Road" img="https://media.timeout.com/images/105456032/750/562/image.jpg" realiseDate="2015" rating="9.3"></app-card>
  <app-card title="Toy Story" img="https://media.timeout.com/images/105456047/750/562/image.jpg" realiseDate="1995" rating="9.8"></app-card>
</div>
