.header__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 230px;
  background-color: rgba(41, 96, 107, 0.1);
}
.header__nav_items {
  display: flex;
  list-style: none;
}
.header__nav-item {
  padding: 10px 10px;
  margin-right: 10px;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 5px;
}
.header__nav-item:hover {
  box-shadow: inset 0 0 20px  rgba(35,194,233,0.5);
}
a {
  text-decoration: none;
  color: #fff;
}
.header__logo {
  padding: 27px 0 25px 28px;
  font-size: 25px;
  font-weight: 400;
}
