<div class="header__menu">
  <a href="#" class="header__logo">{{logo}}</a>
  <nav class="header__navigation">
    <ul class="header__nav_items">
      <li class="header__nav-item"><a href="#" class="header__links">Home</a></li>
      <li class="header__nav-item"><a href="#" class="header__links">Action</a></li>
      <li class="header__nav-item"><a href="#" class="header__links">Сomedy</a></li>
      <li class="header__nav-item"><a href="#" class="header__links">Thriller</a></li>
      <li class="header__nav-item"><a href="#" class="header__links">Drama Films</a></li>
      <li class="header__nav-item"><a href="#" class="header__links">Horror</a></li>
    </ul>
  </nav>
</div>
